<%- include("./partials/header") %>
<div class="row content">
	<p class="about-p">Didn't you always wonder what you can do in order to save the planet? Team Totally Spies have a solution for you! Upload a picture with an object that you don't consider that it belong on the streets and we are going to take care of it for you!</p>
	</div>
<%- include("./partials/footer") %>